html {
    font-family: Arial, sans-serif;
    background-color: #57894a;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b5c57;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

;}